<a href="https://colab.research.google.com/github/manu001223/NLP-533/blob/main/Exp3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
data = pd.read_csv('/content/twitter4000.csv')

data

                                                 twitts  sentiment
0     is bored and wants to watch a movie  any sugge...          0
1              back in miami.  waiting to unboard ship           0
2     @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                     ughhh i am so tired  blahhhhhhhhh          0
4     @mandagoforth me bad! It's funny though. Zacha...          0
...                                                 ...        ...
3995                                  i just graduated           1
3996          Templating works; it all has to be done            1
3997                   mommy just brought me starbucks           1
3998  @omarepps watching you on a House re-run...lov...          1
3999  Thanks for trying to make me smile I'll make y...          1

[4000 rows x 2 columns]

In [3]:
data.count()

twitts       4000
sentiment    4000
dtype: int64

In [4]:
data['sentiment'].value_counts()

sentiment
0    2000
1    2000
Name: count, dtype: int64

In [5]:
data.head()

                                              twitts  sentiment
0  is bored and wants to watch a movie  any sugge...          0
1           back in miami.  waiting to unboard ship           0
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                  ughhh i am so tired  blahhhhhhhhh          0
4  @mandagoforth me bad! It's funny though. Zacha...          0

In [6]:
Pattern = r'\s'
data['char_count'] = data['twitts'].apply(lambda x: len(re.sub(Pattern, '', x)))

In [7]:
data

                                                 twitts  sentiment  char_count
0     is bored and wants to watch a movie  any sugge...          0          43
1              back in miami.  waiting to unboard ship           0          32
2     @misskpey awwww dnt dis brng bak memoriessss, ...          0          54
3                     ughhh i am so tired  blahhhhhhhhh          0          27
4     @mandagoforth me bad! It's funny though. Zacha...          0         116
...                                                 ...        ...         ...
3995                                  i just graduated           1          14
3996          Templating works; it all has to be done            1          32
3997                   mommy just brought me starbucks           1          27
3998  @omarepps watching you on a House re-run...lov...          1          45
3999  Thanks for trying to make me smile I'll make y...          1          63

[4000 rows x 3 columns]

In [8]:
data['Word_count'] = data['twitts'].apply(lambda x: len(x.split()))

In [9]:
data

,twitts,sentiment,char_count,Word_count
0,is bored and wants to watch a movie any sugge...,0,43,10
1,back in miami. waiting to unboard ship,0,32,7
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,54,12
3,ughhh i am so tired blahhhhhhhhh,0,27,6
4,@mandagoforth me bad! It's funny though. Zacha...,0,116,26
...,...,...,...,...
3995,i just graduated,1,14,3
3996,Templating works; it all has to be done,1,32,8
3997,mommy just brought me starbucks,1,27,5
3998,@omarepps watching you on a House re-run...lov...,1,45,8
3999,Thanks for trying to make me smile I'll make y...,1,63,16

In [10]:
data['avg_word_legnth'] = data['char_count']/data['Word_count']

In [11]:
data

,twitts,sentiment,char_count,Word_count,avg_word_legnth
0,is bored and wants to watch a movie any sugge...,0,43,10,4.300000
1,back in miami. waiting to unboard ship,0,32,7,4.571429
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,54,12,4.500000
3,ughhh i am so tired blahhhhhhhhh,0,27,6,4.500000
4,@mandagoforth me bad! It's funny though. Zacha...,0,116,26,4.461538
...,...,...,...,...,...
3995,i just graduated,1,14,3,4.666667
3996,Templating works; it all has to be done,1,32,8,4.000000
3997,mommy just brought me starbucks,1,27,5,5.400000
3998,@omarepps watching you on a House re-run...lov...,1,45,8,5.625000
3999,Thanks for trying to make me smile I'll make y...,1,63,16,3.937500

In [12]:
pattern1 = r'\w+@\w+.\w+'

In [16]:
data['email'] = data['twitts'].apply(lambda x: re.findall(pattern1, x))
display(data['email'].sample())

3930    []
Name: email, dtype: object

In [17]:
pattern=r'\b[A-Za-z._+-]+@[A-Za-z.][A-Z|a-z]{2,}\b'
data['email']=data['twitts'].apply(lambda x: re.findall(pattern=pattern,string=x))
data['email'].sample(5)

2734    []
1463    []
526     []
2687    []
2482    []
Name: email, dtype: object